@use "../../../../styles/variables" as variables;

.wrap-content-block-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 80px 0px;

  .content-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .wrap-content-card {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      padding-bottom: 24px;
    }
  }
  @media (max-width: variables.$mobile) {
    padding: 64px 0px;

    .content-block {
      .wrap-content-card {
        flex-direction: column;
      }
    }
  }
}
